<footer>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Проект сделан командой: Елена, Екатерина, Дмитрий</a>
  </div>
</nav>
</footer>