<footer>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <p class="navbar-brand footer">Проект сделан командой: </p>
    <p class="navbar-brand footer">Елена, Екатерина, Дмитрий</p>
  </div>
</nav>
</footer>