<form id={{entry.id}} name="editForm" method="POST" action="/allPostsEdit">
  <div class="mb-3">
    <label for="exampleTitle" class="form-label">Поправишь текст?</label>
    <input
      name="title"
      type="text"
      class="form-control"
      id="exampleTitle"
      aria-describedby="exampleTitle"
      value="{{entry.title}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleImage" class="form-label">Исправь адрес картинки</label>
    <input
      name="image"
      type="text"
      class="form-control"
      id="exampleImage"
      value="{{entry.image}}"
    />
  </div>
  <button type="submit" class="btn btn-success">Редактировать</button>
</form>
