{{! Библиотека считывания текста }}
<script defer src="/js/granny.js"></script>
<script
  defer
  src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"
></script>
{{#if granny_name}}
  <h1>Привет, <span class="greetingName">{{granny_name}}</span> </h1>
{{/if}}
<div class="errorLogin"></div>
<div id="container-main" class="container mx-auto">

  <div class="container-instruction">
    <h2 class="title">Инструкция</h2>

    <div class="instructions">
      <p>
        Дорогая бабушка!</p>
      <p>Ниже Инструкция к приложению</p>

      <ul>
        <li>Для начала работы зайди или зарегистрируйся на сайте</li>
        <li>Выбери картинку и загрузи ее через Choose file</li>
        <li>Нажми на кнопку -Прочесть текст из картинки</li>
        <li>Нажми на кнопку - Озвучить</li>
      </ul>

      <input
        type="button"
        value="Скрыть"
        class="btn btn-secondary closeInstruction"
      />
    </div>
  </div>

  <br />

  <img src="" id="img1" class="image" />
  <br />
  <br />
  <select name="langs" id="langs">
    <option value="rus" selected>Русский</option>
    {{! <option value="eng">English</option> }}
  </select>
  <form
    id="upload"
    name="upload"
    action=""
    method="post"
    encType="multipart/form-data"
  >
    <input type="file" id="file" name="myImg" class="img" />
    {{! <button type="submit" >test</button> }}
    <div id="log" style="min-height: 200px; border: 1px solid #eee" class="log">
      <pre class="pre"></pre>
    </div>
    <br />
    <button type="submit" class="btn btn-success start" id="activate">Прочесть
      текст из картинки</button>
  </form>

  <br />
  <div class="main">

    {{! <p>Выберите язык произношения<select id="lang" class="form-select">
    </select> }}
    <button type="button" id="sound" class="btn btn-success">Озвучить</button>
  </div>

</div>
