<script defer src="/js/login.js"></script>
<form id="form" name="form" method="POST" class="needs-validation was-validated" novalidate="">
    <p class="errorUser">
    </p>
  <div class="mb-3">
    <label for="username" class="form-label">Имя</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" style="color:black" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password" id="password" style="color:black" required>
  </div>
  <button type="submit" class="btn btn-primary" style="color:black" >Войти</button>
</form>
