<form action="/login" method="POST">
    
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" style="color:black">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" style="color:black">
  </div>
  <button type="submit" class="btn btn-primary" style="color:black" >Submit</button>
</form>
